/* VARIABLES */

// colors
$primary-shade: #6b7580;
$primary-light: lighten($primary-shade, 37%);
$primary-dark: darken($primary-shade, 12%);
$accent-shade: #d6001c;
$accent-light: lighten($accent-shade, 37%);
$accent-dark: #207A9E;
$tertiary-shade: #00205b;
$quaternary-shade: #d7dbde;
// Reassign color vars to semantic color scheme
$red: #dc3545;
$yellow: #ffc107;
$green: #28a745;
$cyan: #17a2b8;
$white: #fff;
$gray-100: #d7dbde;
$gray-400: #424242;
$gray-600: #363436;
$gray-800: #111111;


$theme-colors: (primary: $primary-shade, secondary: $accent-shade, tertiary: $tertiary-shade, quaternary:$quaternary-shade, success:$green, info: $cyan, warning: $yellow, danger: $red, light: $gray-100, dark: $gray-800);
$brand-primary: $accent-shade;
$brand-inverse: $primary-shade;

$body-bg: $white;
$body-color: $gray-800;
$inverse-bg: $primary-shade;
$inverse-color: $white;
// Links
//
// Style anchor elements.
$link-color: #207a9e;
$link-decoration: none;
$link-hover-color: $accent-dark;
$link-hover-decoration: underline;
// Comments
$comment-spacer-x: 1.25em;
$comment-spacer-y: 1.25em;
// Responsive font sizes
$enable-responsive-font-sizes: true;
$enable-shadows: false;
$enable-gradients: false;
// Breadcrumbs (Works only on Bootstrap 5+)
$breadcrumb-divider: quote(">");

// Headings means H1-H6
$headings-color: $gray-800;
$btn-white-space: nowrap;

  // Buttons
$border-radius: 0 !default;
$input-btn-padding-y: 0.5rem !default;

/* Carousel */
$carousel-indicator-width: 80%;
$carousel-indicator-height: 80%;
$carousel-indicator-active-bg: $accent-dark;
$carousel-indicator-hit-area-height: 1rem;
$carousel-indicator-opacity: 1;
$carousel-control-width: 5%;
$carousel-indicator-transition: opacity 0.5s, width 0.5s;

:root {
  --bs-btn-hover-bg: #{darken($primary-shade, 10%)};
  --bs-secondary-rgb: #{$brand-primary};
  --bs-link-color: #{$link-color};
  --bs-btn-bg: #{$primary-shade};
  .navbar-toggler {
    --bs-navbar-toggler-border-color: transparent !important;
  }

  .btn-secondary {
    --bs-btn-bg: transparent;
    --bs-btn-color: #{$link-color};
    --bs-btn-bg: transparent;
    --bs-btn-active-color: #{$link-color};
    --bs-btn-active-bg: transparent;
    --bs-btn-border-color: #{$link-color};
    --bs-btn-hover-color: #{$quaternary-shade};
    --bs-btn-hover-bg: #{$link-color};
    --bs-btn-hover-border-color: #{$link-color};
    &:hover {
      --bs-btn-active-bg: #{$link-color};
      a {
        color: $quaternary-shade;
        text-decoration: none;
      }
    }
    a {
      text-decoration: none;
      &:hover {
        color: $quaternary-shade;
        text-decoration: none;
      }

    }

  }
}

/* header nav overrides */
$navbar-dark-bg-active-color: $primary-shade !default;
$navbar-dark-hover-color: $link-color !default;
$navbar-padding-y: 0;


